<h1>Facebook</h1>

Facebook helps you connect and share with the people in your life.

<br><br>
<button onclick="location.href = '/login';" style="margin-right: 16px">Login</button>
<button onclick="location.href = '/signup';">SignUp</button>