<h3>This is the login page</h3>

<input type="text" value="Enter your username"><br>
<input type="text" value="Enter your password"><br>
<br>


<a href = '/forgotPassword'>Did you forget your password?</a>
<br><br>
<button onclick="location.href = '/feeds';">Continue</button>