<h3>This is the sign-up page</h3>
It's Quick and Easy

<br><br>

<input type="text" value="Enter your name"><br>

<input type="text" value="Enter your email address"><br>

<input type="text" value="Enter your password"><br>

<input type="text" value="Re-enter your password"><br>

<button onclick="location.href = '/introPage';">Continue</button>